$primary-font: 'Comfortaa',
cursive;

$secondary-color: #142850;
$nav-logo-color: #154090;
$button-color: #1E5F74;
$social-links-color: #faffff;
$primary-font-size: 2rem;

$primary-radius: 1.8rem;

// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;