.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
  background-color: $secondary-color;
  width: 100%;
  margin-top: 2rem;
}

// social icons
.social-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 2rem;
  height: 100%;

  @include media-breakpoint-sm {
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    margin-top: 16rem;
  }
}

.icon-social-footer {
  width: 2.5rem;
  height: 2.5rem;
}

// email 
form {
  position: absolute;
  top: 5px;
}

form h2 {
  padding-bottom: 1rem;
  background: -webkit-linear-gradient(60deg, #63a5f0 5%, #3a82d5 60%, #3aa4d5 30%);
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 3rem;
}

.email-container {
  position: relative;
  height: 20rem;
  width: 40vw;
  min-width: 40rem;
  padding: 3rem;
  border-radius: 0.5rem;
  box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.125);
  background-color: #142850;
  color: #333;

  @include media-breakpoint-sm {
    height: 23rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 100%;
    min-width: 27rem;
  }
}

.email-container h2 {
  color: rgb(18, 104, 136);
}

.field {
  margin-bottom: 10px;
}

.field label {
  display: block;
  font-size: 12px;
}

.field input {
  display: block;
  min-width: 250px;
  line-height: 1.5;
  font-size: 14px;
  padding: 5px;
  border-radius: 0 0 1rem;
  border-radius: 5px;
  text-align: center;
}

input[type="submit"] {
  display: block;
  padding: 6px 30px;
  font-size: 14px;
  background-color: #4460AA;
  color: #fff;
  border: none;
  width: 250px;
  clip-path: polygon(20px 0%, 100% 0%, 100% 100%, 0% 100%);
}