.site-logo  {
  color: $nav-logo-color;
  padding: 1rem 0 0 1rem;
  font-size: 2.5rem;
}

.nav__links-site-logo {
  color: lightcyan;
  padding: 1rem 0 5px 1rem;
  border-bottom: lightgrey 2px solid;
}