@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&display=swap");
/* ===================
   Base resets
   ================= */
body,
html {
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  font-size: 62.5%;
  font-family: "Comfortaa", cursive;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* li {
  list-style: none;
}

* a {
  text-decoration: none;
}

* ul {
  margin: 0;
  padding: 0;
}

* p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

.nav-menu-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 1rem;
  right: 0;
  left: 0;
  margin: 0 1rem 0 1rem;
  padding: 5px 0 5px 0;
  border-radius: 1rem;
  background-color: #ECEBEB;
  z-index: 1000;
}

.nav__menu-bottom-text {
  padding: 5px;
  font-size: 1.3rem;
  color: #83898B;
}

.nav__menu-bottom-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-menu {
  cursor: pointer;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
  height: 0;
  background-color: #c6cbcf;
  -webkit-clip-path: square(100px at 90% -10%);
          clip-path: square(100px at 90% -10%);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  overflow-y: hidden;
  z-index: 100;
}

.nav-links.nav-links.open {
  height: 100%;
  pointer-events: all;
}

.nav-links.nav-links ul {
  margin-top: 2rem;
}

.nav-links.nav-links li {
  font-size: 2rem;
  color: white;
  padding: 1rem 0 1rem 0px;
  margin-left: 3rem;
  width: 80%;
  border-bottom: 1px solid #adb4b4;
}

/* ===================
   Mobile grid
   ================= */
.container-home {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2rem;
  font-size: 2rem;
      grid-template-areas: "nav" "hero-image" "home-grid-area-1" "home-grid-area-2" "home-grid-area-3" "footer";
}

/* =================== grid areas ================= */
nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
}

.hero-image {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: hero-image;
}

.home-grid-area-1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: home-grid-area-1;
}

.home-grid-area-2 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: home-grid-area-2;
}

.home-grid-area-3 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: home-grid-area-3;
}

footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: footer;
}

.site-logo {
  color: #154090;
  padding: 1rem 0 0 1rem;
}

.nav__links-site-logo {
  color: lightcyan;
  padding: 1rem 0 5px 1rem;
  border-bottom: lightgrey 2px solid;
}

footer {
  background-color: #142850;
  height: 40rem;
}

.footer-container {
  height: 100%;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  padding-bottom: 12rem;
}

.icon-social-footer {
  width: 100%;
  height: 2rem;
}

.icon-footer {
  width: 100%;
  height: 2rem;
}

.button {
  background-color: #1E5F74;
  color: white;
  border-radius: 1rem;
  height: 3.5rem;
  border: 0;
}

.card__explore-btn {
  width: 80%;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.wrapper-mobile {
  margin: 0 1rem 0 1rem;
}

.hero-image {
  margin: 0 auto;
}

.hero-image img {
  border-radius: 1.8rem;
}

.home-grid-area-1 {
  overflow: auto;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35rem;
  padding: 1rem;
}

.card__explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 1rem;
  -webkit-box-shadow: 5px 5px 12px black;
          box-shadow: 5px 5px 12px black;
  background: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  min-width: 22rem;
}

.card__explore.card__explore:not(:first-child) {
  margin-left: -3rem;
}

.card__explore.card__explore:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.card__explore.card__explore:hover ~ .card__explore {
  -webkit-transform: translateX(5rem);
          transform: translateX(5rem);
  z-index: 200;
}

.card__explore-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1E5F74;
  border-radius: 1.5rem;
  margin-right: 3rem;
}

.card__explore-title h1 {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin: auto;
  font-size: 2.2rem;
  color: white;
}

.card__explore-btn p {
  margin: auto;
}

.card-container img {
  height: 13rem;
  width: 100%;
  border-radius: 1rem  1rem 0 0;
}

.card-container h2 {
  font-size: 1.8rem;
  margin-bottom: 7rem;
}

.container__page-links {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  background-color: #EDF2F5;
  padding: 3rem 2rem 1.5rem 2rem;
  height: 100%;
}

.container__page-links.container__page-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #142850;
  border: 2px solid #0BB2AC;
  border-bottom-left-radius: 1.5rem;
  padding: 1rem;
  color: white;
}

.page__links-text {
  margin-right: 10rem;
}

.container__location-images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem 3rem;
  padding: 0 2rem 0 2rem;
  text-align: center;
}

.container__location-images.container__location-images img {
  height: 100%;
  width: 100%;
  border-radius: 1.5rem;
}

.container__location-images.container__location-images h2 {
  position: relative;
  bottom: 20%;
  background: #28201178;
  color: white;
}

.icon-home-links {
  width: 100%;
  height: 3rem;
}
/*# sourceMappingURL=main.css.map */