/* ===================
   Base resets
   ================= */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&display=swap");
body,
html {
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  width: 100%;
  font-size: 62.5%;
  font-family: "Comfortaa", cursive;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* ul {
  margin: 0;
  padding: 0;
}

* li {
  list-style: none;
}

* a {
  text-decoration: none;
}

* p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

p {
  font-size: 1.5rem;
}

/* ===================
   home page grid
   ================= */
.container-home {
  display: grid;
  gap: 1rem;
  font-size: 2rem;
  max-width: 150rem;
  width: 100%;
  margin: auto;
  grid-template-areas: "nav" "hero-image" "home-grid-area-1" "home-grid-area-2" "map-trails";
}

/* =================== grid areas ================= */
nav {
  grid-area: nav;
}

.hero-image {
  grid-area: hero-image;
}

.home-grid-area-1 {
  grid-area: home-grid-area-1;
}

.home-grid-area-2 {
  grid-area: home-grid-area-2;
}

.map-trails {
  grid-area: map-trails;
}

.site-logo {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #154090;
  font-size: 2.5rem;
  padding-top: 2rem;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
  background-color: #142850;
  width: 100%;
  margin-top: 2rem;
}

.social-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 2rem;
  height: 100%;
}

@media (max-width: 576px) {
  .social-icons {
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    margin-top: 16rem;
  }
}

.icon-social-footer {
  width: 2.5rem;
  height: 2.5rem;
}

form {
  position: absolute;
  top: 5px;
}

form h2 {
  padding-bottom: 1rem;
  background: -webkit-linear-gradient(60deg, #63a5f0 5%, #3a82d5 60%, #3aa4d5 30%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 3rem;
}

.email-container {
  position: relative;
  height: 20rem;
  width: 40vw;
  min-width: 40rem;
  padding: 3rem;
  border-radius: 0.5rem;
  box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.125);
  background-color: #142850;
  color: #333;
}

@media (max-width: 576px) {
  .email-container {
    height: 23rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 100%;
    min-width: 27rem;
  }
}

.email-container h2 {
  color: #126888;
}

.field {
  margin-bottom: 10px;
}

.field label {
  display: block;
  font-size: 12px;
}

.field input {
  display: block;
  min-width: 250px;
  line-height: 1.5;
  font-size: 14px;
  padding: 5px;
  border-radius: 0 0 1rem;
  border-radius: 5px;
  text-align: center;
}

input[type="submit"] {
  display: block;
  padding: 6px 30px;
  font-size: 14px;
  background-color: #4460AA;
  color: #fff;
  border: none;
  width: 250px;
  clip-path: polygon(20px 0%, 100% 0%, 100% 100%, 0% 100%);
}

.wrapper-mobile {
  margin: 0 1rem 0 1rem;
}

.hero-image-container {
  display: grid;
  justify-content: center;
  margin: 1rem;
}

.hero-image {
  max-width: 100%;
  height: auto;
  border-radius: 1.8rem;
}

.map-trails h1 {
  padding-left: 2rem;
}

.icon-home-links {
  width: auto;
  height: 3rem;
}

.cycling-list ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 6rem 5rem;
  justify-items: center;
  padding: 2rem;
}

@media (max-width: 576px) {
  .cycling-list ul {
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  }
}

.cycling-list ul li {
  border-radius: 1rem;
  padding: 2rem 2rem 5px 2rem;
  max-width: 40rem;
  box-shadow: rgba(0, 0, 0, 0.125) 0px 0px 5px;
  transition: ease-in-out 0.3s;
  width: 100%;
  height: 100%;
}

.cycling-list ul li:hover {
  transform: translate(0, -1rem);
  box-shadow: rgba(0, 0, 0, 0.125) -1rem 1rem 4rem;
}

.location {
  padding-top: 2rem;
}

.cycling-list-heading {
  display: flex;
  align-items: center;
}

.cycling-list-heading h2 {
  display: inline-block;
  border-bottom: 5px solid #37206d;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.icon-discover-links {
  height: 2.5rem;
  width: 5rem;
}

.location-header {
  padding-top: 1rem;
  text-transform: uppercase;
  background-color: #5a6883;
  clip-path: polygon(20px 0%, 100% 0%, 100% 100%, 0% 100%);
  padding: 5px;
  border-radius: 0 0 1rem;
  text-align: center;
}

.location-header h2 {
  font-size: 1.2rem;
  color: white;
}

.weather-container {
  display: grid;
  grid-auto-flow: column;
  gap: 1.0rem;
  padding-top: 2rem;
  align-items: center;
  text-align: center;
}

.temperature-value p {
  font-size: 2.5rem;
}

.icon-weather {
  height: auto;
  margin: auto;
  width: 6rem;
}

#map {
  height: 40rem;
  border-radius: 1rem;
  max-width: 80vw;
  margin: auto;
}
/*# sourceMappingURL=main.css.map */